.container {
    width: 1200px;
    height: 800px;
    border: solid 1px black;
    place-self:center;
    place-content:center;
    background-color: black;
}

.grid {
    width: 1200px;
    height: 800px;
    border: solid 1px black;
    position:absolute;
    background-color: black;
}

#score {
    place-self:center;
    margin-bottom: 0px;
}

body{
    display:grid;
    align-items: center;
}

.user{
    position: absolute;
    width: 8%;
    height: 2.5%;
    background-color: white;
}

.ball{
    position: absolute;
    width: 0.9%;
    height: 1.3%;
    background-color: white;
}

.block{
    position: absolute;
    width: 8%;
    height: 2.5%;
}